<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    <table>
        <tr>
            <th>Filename</th>
            {% for dcat in diagnostic_categories %}
            <th>{{ dcat }}</th>
            {% endfor %}
        </tr>
    {% for f in files %}
        <tr>
            <td>{{ f.name }}</td>
            {% for dcat in diagnostic_categories %}
            <td><a href="{{ (f.name + '_' + dcat)| replace('/', '_')}}.html">
                {{ f.diagnostic_groups[dcat] | count }}
            </a></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>
