<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    <table>
        <tr>
            <th>Filename</th>
            <th>Diagnostic count</th>
        </tr>
    {% for f in files %}
        <tr>
            <td>{{ f.name }}</td>
            <td>{{ f.diagnostics | count }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
