<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ filename }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style type="text/css">
        body { font-family: helvetica; }
        table tr { height: 30px; }
        table tr td { vertical-align: middle; }
    </style>
</head>

<body>
    <a href="index.html">Back</a>
    <p>Diagnostics for {{ filename }}</p>
    <table>
        <tr>
            <th>Line</th>
            <th>Message</th>
        </tr>
    {% for d in diagnostics %}
        <tr>
            <td>{{ d.line_number }}</td>
            <td><pre>{{ d.context }}</pre></td>
        </tr>
        <tr>
            <td></td>
            <td>{{ d.message }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
